<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

<header th:replace="fragments :: header"></header>

<p th:unless="${events} and ${events.size()}">No events</p>

<!--<ul>-->
<!--    <th:block th:each="event : ${events}">-->
<!--        <li th:text="${event}"></li>-->
<!--    </th:block>-->
<!--</ul>-->

<table>
    <tr>
        <th>Event</th>
        <th>Description</th>
    </tr>
    <th:block th:each="event : ${events}">
        <tr>
        <td th:text="${event}"></td>
        </tr>
    </th:block>
</table>

</body>
</html>